
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F2ECE9;
}
.formulaire
{
    background-color: #FFFFFF;
    box-shadow: 20px 20px 20px none;
    border-top: 10px solid #C48160;
    padding: 20px 50px;
    width: 500px;
    margin: auto;
    position: relative;
    top:-100px;
}
#inscription
{
    display: flex;
    height: 250px;
    
}
img
{
    width: 100%;
}
p input
{
    margin-bottom: 20px;
}
input:focus
{
    border-bottom: 2px solid #C48160;
}
input
{
    border:none;
    border-bottom: 1px solid rgb(154, 154, 160);
    padding:5px 0;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
label,h2
{
    font-weight: 500;
}
.btn
{
    background-color: #1A73E8;
    padding: 10px;
    color: #FFFFFF;
    font-size: 1.0em;
    border-radius: 5px;
    border-color: #1A73E8;
}
.colone
{
    display: inline-block;
    margin-right:10px;
    border: 1px solid blue;
    padding: 5px;
}
.fa{
    color: green;
}
span.msgError
{
    color: red;
    font-size: 12px;
}
i.error
{
    color:red;
}
.table{
    display: flex;
    margin: 0px 70px 0px 70px;
    justify-content: center;
    padding: 10px;
}

th{
    border:1px solid black;
    background-color: green;
    padding: 5px;
}
/*
tr{
    border: 1px solid black;
}
*/
td{
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
.confirmation
{
    border:1px solid green;
    text-align: center;
    width: 500px;
    height: 70px;
    margin: auto;
    margin-top:100px;
    background-color: green;
    border-radius: 10px;
    box-shadow: 20px 20px 20px white;
}
span a{
    box-shadow: 10px 10px 10px green;
    margin:10px 110px 10px 110px;
    text-decoration: none;
    color: #F2ECE9;
}